
body {

}

#waitingroom #left {
	width:calc(100% - 180px);
	height:100%;
	border: 1px solid #efefef;
	border-right: none;
	border-top-left-radius: 0.5em;
	float:left;
    overflow-y: auto;
}

#waitingroom #right {
	width:175px;
	height: 100%;
	border:1px solid #efefef;
	border-top-right-radius: 0.5em;
	float:left;
}

#waitingroom {
	width:825px;
	height:530px;
}

#waitingroom .title {
	font-weight: 400;

}

#waitingroom #chat {
	clear:both;
}

#input {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height:2.7em;
}

#waitingroom .chatbox {
    min-width:100px;
    border: none;
}

#waitingroom .nickname {
    font-weight: 400;
    width:150px;
}

#waitingroom .content {
    line-height: 1.2em;
    width: 440px;
    border-left: 2px solid #efefef;
    padding-left: .7em;
    white-space: pre-line;
    word-wrap: break-word;
}

#waitingroom .content img{
    width:100%;
}
