#chat {
  padding: 4pt;
  height: 128pt;
  overflow: auto;
  border: 1pt #ddd solid;
}
#chat p {
  margin: 0;
  padding: 2pt;
  border-bottom: 1pt #ddd solid;
}
#chat .big {
  font-size: 14pt;
}
#chat .log {
  padding-left: 18pt;
}
#chat .verbose {
  color: #5B8BD1;
}
#chat .info {
  color: #5BD169;
}
#chat .warn {
  color: #D18F5B;
}
#chat .error {
  color: #D1625B;
}
#canvas {
  border:1px solid #000000;
}
